.button {
  background-color: #f8df1f;
  color: #050000;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  border-style: none;
  padding: 3% 4%;
}
.heading1 {
  font-family: 'Roboto';
  font-size: 30px;
  color: #050000;
  font-weight: 500;
  text-transform: uppercase;
}
.heading-span {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ee353f;
  font-weight: 500;
  text-transform: uppercase;
}
.lowercase-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #050000;
  font-weight: 500;
  text-transform: lowercase;
}
.links {
  font-family: 'Roboto';
  font-size: 18px;
  color: #050000;
  font-weight: 500;
}
.uppercase-links {
  font-family: 'Roboto';
  font-size: 18px;
  color: #050000;
  font-weight: 500;
  text-transform: uppercase;
}
body {
  background-color: #f8df1f;
}
nav ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 3%;
  width: 100%;
}
nav ul li {
  padding: 1%;
}
.header-banner {
  background-color: #3b3838;
}
.header-banner img {
  max-width: 100%;
  opacity: 33%;
}
.cta {
  position: absolute;
  margin-top: -30%;
  padding-left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cta .button {
  width: 40%;
}
main {
  font-family: 'Roboto';
  padding: 0 1%;
}
main .section1 {
  background-color: white;
  padding: 3%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section1 .a-section1 {
  width: 65%;
}
main .section1 .burger {
  max-width: 20%;
  padding: 3%;
}
main .section2 {
  background-color: #f3f3f3;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section2 .bob {
  max-width: 20%;
  padding-left: 10%;
}
main .section2 .a-section2 {
  width: 70%;
  padding: 4%;
}
footer {
  background-color: #080801;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer img {
  width: 20%;
}
