.button {
  background-color: #f8df1f;
  color: #050000;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  border-style: none;
}
.heading1 {
  font-family: 'Roboto';
  font-size: 30px;
  color: #050000;
  font-weight: 500;
  text-transform: uppercase;
}
.heading-span {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ee353f;
  font-weight: 500;
  text-transform: uppercase;
}
.lowercase-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #050000;
  font-weight: 500;
  text-transform: lowercase;
}
body {
  background-color: #f8df1f;
}
main {
  font-family: 'Roboto';
  padding: 1%;
}
main .section1 {
  background-color: white;
}
main .section2 {
  background-color: #f3f3f3;
}
footer {
  background-color: #080801;
  padding: 3%;
}
