@import 'mixins';

body {
    background-color: @yellow;
}
// Header


// Main
main {
    font-family: @font;
    padding: 1%;

    .section1 {
        background-color: white;
    }

    .section2 {
        background-color: @gray;
    }
}

// Footer
footer {
    background-color: @black;
    padding: 3%;
}